// -------- Colors -----------
@primary-color: #00CCCC;
@success-color: #52c41a;
@error-color: #f5222d;
@warning-color: #faad14;

@white: #fff;
@hover-color: #e6fffb;
@border-color: #DDDDDD;
@back-color: #F0F2F5;
@btn-back-color: #F6F8FA;
@divider-color: #E8E8E8;

//text colors
@black: #000;
@heading-color: fade(@black, 85%); // 标题色
@text-color: fade(@black, 65%); // 主文本色
@text-color-secondary: fade(@black, 45%); // 次文本色
@disabled-color: fade(@black, 25%); // 失效色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影

// font-size
@fs-lg: 16px;
@fs-md: 14px;
@fs-sm: 12px;

// vertical paddings
@pd-lg: 24px; // containers
@pd-md: 16px; // small containers and buttons
@pd-sm: 12px; // Form controls and items
@pd-xs: 8px; // small items

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;